<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<!-- Servlet Registration -->

	<servlet>
		<servlet-name> Hello Servlet </servlet-name>
		<servlet-class>com.cts.training.controller.HelloServlet</servlet-class>
	</servlet>

	<!-- Servlet Mapping -->

	<servlet-mapping>
		<servlet-name> Hello Servlet</servlet-name>
		<url-pattern> /hello</url-pattern>
	</servlet-mapping>
	
	<!-- Servlet Registration -->
 <servlet>
   <servlet-name> Register Servlet </servlet-name>
   <servlet-class> com.cts.training.controller.Register</servlet-class>
 </servlet>

<!-- Servlet Mapping -->
  <servlet-mapping>
   <servlet-name>Register Servlet</servlet-name>
   <url-pattern> /register</url-pattern>
  </servlet-mapping>

</web-app>